### Load packages

In [1]:
import os, sys
import numpy as np
import pandas as pd
from glob import glob 
from skimage.io import imread, imsave
import zarr
import napari
import nrrd

### Start Napari viewer

In [23]:
%gui qt
napari.gui_qt()
viewer = napari.Viewer(ndisplay=3)

### read nrrd file

In [10]:
inputdir = "/Users/fangmingxie/data/easifish" 
f_nrrd = inputdir + "/test_v2.nrrd"
f_spot = inputdir + "/test_spots_v1.csv"

In [28]:
zdim, ydim, xdim = (2593, 7309, 9049)

In [19]:
img, _ = nrrd.read(f_nrrd)
img.shape

(905, 731, 259)

In [21]:
df = pd.read_csv(f_spot, index_col=0)
df

                x          y          z  t  c  intensity
77703   4773.0815  3730.8568  1297.2459  1  1   511.6412
77707   4957.7892  3730.3064  1299.8214  1  1   203.3029
77972   4816.5554  3881.4504  1297.2161  1  1   207.4288
77973   4869.7301  3798.0161  1302.0227  1  1   215.2924
78295   4729.7592  4092.0098  1299.7143  1  1   291.3700
...           ...        ...        ... .. ..        ...
108153  4873.3221  4369.7847  1501.8987  1  1   301.5810
108154  4883.1848  4341.7077  1493.4742  1  1   249.4134
108155  4924.2652  4334.9769  1489.9655  1  1   636.7158
108156  4938.1169  4366.5626  1490.6789  1  1   206.4518
108157  5183.9857  4288.5075  1513.2109  1  1   201.1017

[707 rows x 6 columns]

In [26]:
viewer.add_image(img.transpose([2,1,0]), colormap='gray', blending='additive', name='img')

In [35]:

# x, y, z are cell centroid location (in pixel)
z = df['z'].values
y = df['y'].values
x = df['x'].values

zo = z - 0.5*zdim
yo = y - 0.5*ydim
xo = x - 0.5*xdim

spots = np.array([zo, yo, xo]).T

viewer.add_points(spots, size=5, edge_color='red', name='spots')